﻿@using Nwd.BackOffice.Model;
@model Album

@Html.AntiForgeryToken()
<h4>Editer un album</h4>
<hr />
@Html.ValidationSummary()
@Html.HiddenFor(m => m.Id)
<div class="form-group">
    @Html.Label("Titre", new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.Label("Duration", new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Duration, new { @class = "form-control", @type = "time" })
    </div>
</div>
<div class="form-group">
    @Html.Label("Release Date", new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.ReleaseDate, new { @class = "form-control", @type = "datetime" })
    </div>
</div>
<div class="form-group">
    @Html.Label("Type", new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Type, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.Label("CoverFile", new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.CoverFile, new { @class = "form-control", @type = "file" })
    </div>
</div>
<div class="form-group">
    @Html.Label("Artist", new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.HiddenFor(m => m.Artist.Id)
        @Html.HiddenFor(m => m.Artist_Id)
        @Html.TextBoxFor(m => m.Artist.Name, new { @class = "form-control" })
    </div>
</div>
<script>
    var i = @Model.Tracks.Count
    function addTrack() {
        $("#tracks").append("<br /><strong>New Track</strong><input type='hidden' name='Tracks[" + i + "].Song.Id' value='" + parseInt(i + 1) + "' />"
           + "<input type='hidden' name='Tracks[" + i + "].Song_Id' value='" + parseInt(i + 1) + "' />"
           + "<input type='hidden' name='Tracks[" + i + "].AlbumId' value='"+@Model.Id+"' />"
           + "<label class='col-md-2 control-label'>Title</label>"
           + "<input type='text' name='Tracks[" + i + "].Song.Name' class='form-control'/>"
           + "<label class='col-md-2 control-label'>Duration</label>"
           + "<input type='time' name='Tracks[" + i + "].Duration' class='form-control'/>"
           + "<label class='col-md-2 control-label'>MP3</label><input class='col-md-2 form-control' type='file' name='Tracks[" + i + "].File' class='form-control'/><br /><br />");
        i++;
    }
</script>
<div class="col-md-offset-2">
    <button type="button" class="btn btn-primary" onclick="addTrack();">Add a new Track</button>
</div>
<div class="form-group" id="tracks">
    @foreach(var track in Model.Tracks)
    {
        <br />
        @Html.HiddenFor(t => track.Song.Id)
        @Html.HiddenFor(t => track.Song_Id)
        @Html.HiddenFor(t => track.AlbumId)
        @Html.Label("Title", new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(t => track.Song.Name, new { @class = "form-control" })
        @Html.Label("Duration", new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(t => track.Duration, new { @class = "form-control" })
        @Html.Label("MP3", new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(t => track.File, new { @class = "col-md-2 form-control", @type = "file" })
        <br /><br />
    }
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" class="btn btn-lg btn-success" value="Enregistrer" />
    </div>
</div>



