﻿@using Nwd.BackOffice.Model;
@model List<Album>
@{
    ViewBag.Title = "Albums";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Créer", "Create", "Album", new { @class = "btn btn-success" })
<br /><br />
<table class="table table-striped">
    <tr><th>Id</th><th>Title</th><th>Actions</th></tr>
    @foreach (var album in Model)
    {
        <tr>
            <td>@album.Id</td><td>@album.Title</td><td>@Html.ActionLink("Editer", "Edit", "Album", new { id = album.Id }, new { @class = "btn btn-primary btn-sm" }) @Html.ActionLink("Supprimer", "Delete", "Album", new { id = album.Id }, new { @class = "btn btn-primary btn-sm" })</td>
        </tr>
    }

</table>
